/*
Errors:
1. bg image won't stretch the entire width
2. Add media queries
*/

@media only screen and (min-width: 1200px) {
	@font-face {
	    font-family: Noto_Sans;
	    src: url(Fonts/Noto_Sans/NotoSans-Bold.ttf);
	}
	@font-face {
	    font-family: Abel;
	    src: url(Fonts/Abel/Abel-Regular.ttf);
	}
	.backgroundImage{
		background-image: url('Images/software.png');
		min-height: 500px;
		background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.colorOverlayOnBackgroundImage{
	    background: rgba(0,0,0,0.8);
	    -webkit-background-size: cover;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: center;
	    overflow: hidden;
	    margin: 0 auto;
	    height: 100%;
	    z-index: 1;
	}
	.REUtitle{
		color: white;
		text-align: center;
		margin-top: 20%;
		font-size: 60px;
		font-family: Noto_Sans;
	}
	.REUtagline{
		color: white;
		text-align: center;
		margin-top: 2%;
		font-size: 40px;
		font-family: Abel;
	}
}